<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Sala de Espera - Mazmorra {{ roomCode }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Jugadores en la sala</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-label>
          {{ user }} <span *ngIf="user === lider">(Líder)</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button expand="block" color="warning" (click)="startGame()" *ngIf="isLeader() && users.length >= 1">
    Comenzar la aventura 🏰
  </ion-button>

</ion-content>
