<ion-content [fullscreen]="true">
  <div class="salas-fondo">
    <ion-grid>
      <ion-row class="ion-justify-content-around salas-row">

        <ion-col size="">
          <div class="sala-wrapper">
            <div class="sala-deco top"></div>
            <ion-button class="sala-btn medieval" (click)="joinRoom(1)">
              Sala 1
            </ion-button>
            <div class="sala-deco bottom"></div>
          </div>
        </ion-col>

        <ion-col size="">
          <div class="sala-wrapper">
            <div class="sala-deco top"></div>
            <ion-button class="sala-btn medieval" (click)="joinRoom(2)">
              Sala 2
            </ion-button>
            <div class="sala-deco bottom"></div>
          </div>
        </ion-col>

        <ion-col size="">
          <div class="sala-wrapper">
            <div class="sala-deco top"></div>
            <ion-button class="sala-btn medieval" (click)="joinRoom(3)">
              Sala 3
            </ion-button>
            <div class="sala-deco bottom"></div>
          </div>
        </ion-col>

        <ion-col size="">
          <div class="sala-wrapper">
            <div class="sala-deco top"></div>
            <ion-button class="sala-btn medieval" (click)="joinRoom(4)">
              Sala 4
            </ion-button>
            <div class="sala-deco bottom"></div>
          </div>
        </ion-col>

        <ion-col size="">
          <div class="sala-wrapper">
            <div class="sala-deco top"></div>
            <ion-button class="sala-btn medieval" (click)="joinRoom(5)">
              Sala 5
            </ion-button>
            <div class="sala-deco bottom"></div>
          </div>
        </ion-col>

        <ion-col size="">
          <div class="sala-wrapper">
            <div class="sala-deco top"></div>
            <ion-button class="sala-btn medieval" (click)="joinRoom(6)">
              Sala 6
            </ion-button>
            <div class="sala-deco bottom"></div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>