<ion-content [fullscreen]="true" class="login-page">
  <div class="centered-container">
    <div class="login-container">
      <div class="login-header">
        <div class="title">Bienvenido</div>
        <div class="decorative-border"></div>
      </div>

      <div class="login-buttons">
        <ion-button class="medieval-btn login-btn" expand="block" (click)="login()">
          <div class="btn-content">

            <span class="btn-text">login</span>
          </div>
        </ion-button>

        <ion-button class="medieval-btn logout-btn" expand="block" fill="outline" (click)="logout()">
          <div class="btn-content">

            <span class="btn-text">Logout</span>
          </div>
        </ion-button>
      </div>

      <div class="login-footer">
        <div class="decorative-border"></div>
        <div class="footer-text">Que tus hazañas sean legendarias</div>
      </div>
    </div>
  </div>
</ion-content>